* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    background:url('img/nasa-Q1p7bh3SHj8-unsplash.jpg');
    background-size: cover;
    height: 100vh;
}
.container{
    width: 80%;
    margin: 20px auto;
}
.container h1{
    padding: 40px 0 ;
    color: rgb(190, 138, 70);
    font-size: 44px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.feature-img{
    width: 230px;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.small-img-row{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}
.small-img{
    position: relative;
}
.small-img img{
    width: 200px;
}
.small-img-row p{
    color: rgb(8, 14, 21);
    margin-left: 20px;
    line-height: 22px;
    font-size: 15px;
}
.play_btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.small-img .play_btn{
    width: 45px;
}
.video-player{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}
@media (max-width:990px) {
    .small-img-row{
        display: flex;
        background: #efefef;
        margin: 20px 0;
        align-items: center;
        border-radius: 6px;
        overflow: hidden;
        width: 85%;
    }
    .small-img{
        position: relative;
    }
    .small-img img{
        width: 200px;
    }
    .small-img-row p{
        color: rgb(8, 14, 21);
        margin-left: 20px;
        line-height: 22px;
        font-size: 15px;
    }
}